version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: cinema-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: cinemadb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_INITDB_ARGS: "--encoding=UTF8"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - cinema-network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: cinema-pgadmin
    ports:
      - "5050:80"
    environment:
    # temporary credentials for pgAdmin login
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    networks:
      - cinema-network
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: cinema-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      - "61613:61613"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - cinema-network
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local

networks:
  cinema-network:
    driver: bridge
