<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="footer-cinema mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5><i class="bi bi-film"></i> Cinema Booking</h5>
                    <p>Your premier destination for movie bookings</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/movies" th:href="@{/movies}" class="text-white-50">Now Showing</a></li>
                        <li><a href="/screenings" th:href="@{/screenings}" class="text-white-50">Screenings</a></li>
                        <li><a href="/contact" th:href="@{/contact}" class="text-white-50">Contact Us</a></li>
                        <li><a href="/about" th:href="@{/about}" class="text-white-50">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <div class="social-links">
                        <a href="#" class="text-white-50 me-3"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="text-white-50 me-3"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="text-white-50 me-3"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <hr class="bg-white">
            <div class="text-center">
                <p class="mb-0">&copy; 2026 Cinema Booking System. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>
